@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Borel&family=Carattere&family=Dancing+Script&family=Edu+SA+Beginner&family=Fasthand&family=Noto+Sans+TC:wght@100..900&family=Pacifico&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik+Doodle+Shadow&family=Rubik+Wet+Paint&family=Sacramento&family=Vidaloka&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC , sans-serif";
}

body{
    background-color: #f4f4;
}

.app{
    margin: 0rem auto;
}

.menu{
    display: none;
}

.links{
    font-weight: 600;
}

.links:hover{
    border: 3px solid plum;
    border-left: none;
    border-right: none;
    border-top: none;
    transition: .2s;
}
.button{
    padding: 0.9rem 1.75rem;
    transition: 0.2s;
}

.button:hover{
    background-color: rgb(234, 234, 234);
}

.h1{
    font-size: clamp(2rem, 5vw, 4rem);
    color:  #6a6a6a;
    max-width: 600px;
}

.p{
    font-size: clamp(1rem, 3vw 1.5rem);
    margin: 1.5rem 0rem;
}

.button2{
    padding: 1rem 2.5rem;
    transition: 0.2s;
}

.img{
    flex: 1;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
    max-width: 600px;
}

.about-img{
    flex: 0.9;
}
@media (max-width: 800px){
    .links{
        display: none;
        font-weight: 600;
        font-weight: bolder;
    }
    .menu{
        display: flex;
        margin-left: 20px;
    }
    .cont{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .h1{
        text-align: center;
        max-width: 90%;
    }
    .p{
        text-align: center;
        max-width: 80%;
    }
    .img{
        width: 100%;
        max-width: 400px;
    }
    .banner-home{
        max-width: 450px;
        right: -60px;
    }
    .about{
        margin-top: 5rem !important;
    }
    .about-text{
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    }
}